# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build
/frontend/dist

# environment variables
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# OS / misc
.DS_Store
Thumbs.db

# TypeScript
/frontend/*.tsbuildinfo

# IDE
/frontend/.vscode/
/frontend/.idea/
