# ---------------------
# Python / Django
# ---------------------
__pycache__/
*.py[cod]
*$py.class

# 仮想環境
backend/venv/
backend/env/
backend/.venv/

# Django
backend/*.log
backend/*.pot
backend/*.pyc
backend/db.sqlite3
backend/media/

# Environment variables
backend/.env
backend/.env.*

# ---------------------
# Node / Frontend
# ---------------------
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/dist

# Environment variables
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDE / OS
frontend/.vscode/
frontend/.idea/
frontend/*.tsbuildinfo

.DS_Store
Thumbs.db
repomix-output.xml
